
<div class="row">
    <div class="col-md-3">
    <div class="product-grid">
        <div class="product-image">
        <a href="#"><img src="https://res.cloudinary.com/paul-rep/image/upload/v1604781882/images/html-bootstrap-products-grid/fe3f4a548d54c8eafbab281e216bd56e-1_qvx61s.jpg">
            <span class="product-discount-label">-20%</span>
            </a>
        </div>
        <div class="product-content">
        <h3 class="title">
            <a href="#">Men's Blazer</a>
        </h3>
        <div class="price">$13.00<span>$12.00</span></div>
        </div>
        <ul class="social">
        <li>
            <a href="" data-tip="quick view"> <i class="fa fa-eye"></i> </a>
        </li>
            <li>
            <a href="" data-tip="wishlist"> <i class="fa fa-heart"></i> </a>
        </li>
            <li>
            <a href="" data-tip="add to cart"> <i class="fa fa-shopping-cart"></i> </a>
        </li>
        <li>
            <a href="" data-tip="compare"> <i class="fa fa-random"></i> </a>
        </li>
        </ul>
    </div>
    </div>
    <div class="col-md-3">
    <div class="product-grid">
        <div class="product-image">
        <a href="#"><img src="https://res.cloudinary.com/paul-rep/image/upload/v1604781878/images/html-bootstrap-products-grid/e2d26af0cffffb66ee1d73bee8866bd7_fa7yzk.jpg">
            <span class="product-discount-label">-20%</span>
            </a>
        </div>
        <div class="product-content">
        <h3 class="title">
            <a href="#">Men's Blazer</a>
        </h3>
        <div class="price">$13.00<span>$12.00</span></div>
        </div>
        <ul class="social">
        <li>
            <a href="" data-tip="quick view"> <i class="fa fa-eye"></i> </a>
        </li>
            <li>
            <a href="" data-tip="wishlist"> <i class="fa fa-heart"></i> </a>
        </li>
            <li>
            <a href="" data-tip="add to cart"> <i class="fa fa-shopping-cart"></i> </a>
        </li>
        <li>
            <a href="" data-tip="compare"> <i class="fa fa-random"></i> </a>
        </li>
        </ul>
    </div>
    </div>
    <div class="col-md-3">
    <div class="product-grid">
        <div class="product-image">
        <a href="#"><img src="https://res.cloudinary.com/paul-rep/image/upload/v1604781763/images/html-bootstrap-products-grid/new-fasion-women-summer-v-neck-geometric_re5v1j.jpg"></a>
        <span class="product-discount-label">-20%</span>
        </div>
        <div class="product-content">
        <h3 class="title">
            <a href="#">Men's Blazer</a>
        </h3>
        <div class="price">$13.00<span>$12.00</span></div>
        </div>
        <ul class="social">
        <li>
            <a href="" data-tip="quick view"> <i class="fa fa-eye"></i> </a>
        </li>
            <li>
            <a href="" data-tip="wishlist"> <i class="fa fa-heart"></i> </a>
        </li>
            <li>
            <a href="" data-tip="add to cart"> <i class="fa fa-shopping-cart"></i> </a>
        </li>
        <li>
            <a href="" data-tip="compare"> <i class="fa fa-random"></i> </a>
        </li>
        </ul>
    </div>
    </div>
    <div class="col-md-3">
    <div class="product-grid">
        <div class="product-image">
        <a href="#"><img src="https://res.cloudinary.com/paul-rep/image/upload/v1604783408/images/html-bootstrap-products-grid/BIRDY_GREY_KAIA_BRIDESMAID_DRESS_SAGE_09_1366x2048_e6c652a9-8e8d-4b63-a635-1daf884382e6_2048x2048-ec9946c38d8043e59f3d77ae1eba78be_p4uno5.jpg" alt=""></a>
        <span class="product-discount-label">-20%</span>
        </div>
        <div class="product-content">
        <h3 class="title">
            <a href="#">Men's Blazer</a>
        </h3>
        <div class="price">$13.00<span>$12.00</span></div>
        </div>
        <ul class="social">
        <li>
            <a href="" data-tip="quick view"> <i class="fa fa-eye"></i> </a>
        </li>
            <li>
            <a href="" data-tip="wishlist"> <i class="fa fa-heart"></i> </a>
        </li>
            <li>
            <a href="" data-tip="add to cart"> <i class="fa fa-shopping-cart"></i> </a>
        </li>
        <li>
            <a href="" data-tip="compare"> <i class="fa fa-random"></i> </a>
        </li>
        </ul>
    </div>
    </div>
</div>

